<script src="/assets/javascript/app.js"></script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to us -->
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyC8jWT_Cm6E46THWaZo-4tXEXhUVAO6H-s",
    authDomain: "briansostebiks1.firebaseapp.com",
    databaseURL: "https://briansostebiks1.firebaseio.com",
    projectId: "briansostebiks1",
    storageBucket: "briansostebiks1.appspot.com",
    messagingSenderId: "929295290847",
    appId: "1:929295290847:web:00e83a03fb08b1a235f46a"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
</body>
</html>